@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    padding: 0;
    margin: 0;  
}

.main-container {
    display: flex;
    flex-direction: column;
    background-image: url("bahan/alat\ kategori.jpg") ;
    object-fit: cover;
    background-size: 100vw;
    width: 100vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
    color: #fff;
    box-shadow: 0 2px 35px black;
    margin-bottom: 50px;
}

.main-container h1, .main-container p {
    font-size: 40px;
    text-shadow: 10px 10px 15px  black;
    font-family: 'Montserrat', sans-serif;
}

.kanan {
    margin-left: auto;
    margin-right: 40px;
}
body {
    padding: 0;
    margin: 0;
}

.main-container a {
    text-decoration: none;
    color:black;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    background-color: transparent;
    padding: 0 15px;
    align-items: center;
    height: 80px;
    width: 100%;
}

.gambar {
    object-fit: contain;
}

.navbar a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.navbar a:hover {
    color: black;
}

.search {
    margin-left: 100px;
    display: flex;
    border-radius: 10px;
    padding: 0 15px;
    align-items: center;
    height: 40px;
    background-color: #fff;
}

.search input {
    outline: none;
    border: none;
    width: 20vw;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 20px;
    justify-content: space-around;
}

table tr td {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    border-bottom: 1px solid;
    padding-bottom: 20px;
}
.table {
    width: 30%;
    display: inline;
}

.sale {
    background-image: url(bahan/markus-spiske-vrbZVyX2k4I-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.produkList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
}

.row {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid;
    padding: 40px;
    justify-content: space-around;
    margin-bottom: 20px;
    box-shadow: 0 0 6px grey;
}

.tombolAdd {
    border: 1px solid;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bawahKet {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 40px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}