@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    padding: 0;
    margin: 0; 
    overflow: hidden; 
}

.kanan {
    margin-left: auto;
    margin-right: 40px;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    background-color: transparent;
    padding: 0 15px;
    align-items: center;
    height: 80px;
    width: 100%;
}

.gambar {
    object-fit: contain;
}

.navbar a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.navbar a:hover {
    color: black;
}

.search {
    margin-left: 100px;
    display: flex;
    border-radius: 10px;
    padding: 0 15px;
    align-items: center;
    height: 40px;
    background-color: #fff;
}

.search input {
    outline: none;
    border: none;
    width: 20vw;
}


p {
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    background-image: url(bahan/bg\ detail.jpg);
    object-fit: cover;
    background-position: 0 70%;
    background-size: 100vw;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.putih {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 30px;
    align-items: center;
    width: 900px;
    height: 500px;
    padding: 40px;
}

.produk {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.harga{
    display: flex;
    flex-direction: row;
    color: green;
}

p {
    font-size: 17px;

}

h1 {
    margin-bottom: 20px;
    margin-top: 0;
}

.beliSekarang {
    display: flex;
    flex-direction: row;
    background-color: green;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 0 5px grey;
    justify-content: center;

}

.beliSekarang p {
    font-size: 25px;
    margin-top: 5px;
}

.beliSekarang a {
    font-size: 25px;
    margin-top: 5px;
    color: white;
    text-decoration: none;
    margin-left: 13px;
}

body {
    margin: 0px;
    padding: 0px;
}

.tulisankanan a {
    text-decoration: none;
    color: white;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
