.main-container {
    display: flex;
    flex-direction: column;
    background-image: url("bahan/bg-login.jpg");
    object-fit: cover;
    background-size: 100vw;
    width: 100vw;
    height: 48vw;
    align-items: center;
    justify-content: center;
}


body {
    padding: 0;
    margin: 0;
}


 .navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    border-radius: 0px 0px 30px 30px;
    top: 0;
    background-color: #2D3D13;
    align-self: flex-start;
    height: 80px;
    width: 100%;
}

.gambar {
    margin-top: 10px;
    object-fit: contain;
}

.search {
    background: transparent;
    margin-left: 17%;
    width: 40%;
    height:80px;
    text-align: center;
    line-height: 80px;

}

.search input {
    padding-left:20px;
    padding-top: 9px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: none;
    width: 300px;
    height: 40px;
}

i.fa.fa-search {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 40px;
    height: 36px;
    line-height: 40px;
    background:white;
    margin-right:100px;
    position: relative;
}

.tulisankanan {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: white;
}

.tulisanNavbarKanan {
    margin-right: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.tulisanNavbarKanan a{
    text-decoration: none;
    color: white;
}

.kanan {
    margin-left: auto;
}

.sosmed {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

p {
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container a {
    text-decoration: none;
    color:black;
}

.categori-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    width: 900px;
    padding: 0 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}


.ijo {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-family: Arial, Helvetica, sans-serif;
}


.covid-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 700px;
    border-radius: 15px;
    padding: 0 30px;
    padding-bottom: 30px;
}

.dalamkategori {
    display: flex;
    flex-direction: column;
    background-color: #5B5D16;
    border-radius: 15px;
    width: 200px;
    align-items: center;
    border: solid;
}


.dalaminfo {
    display: flex;
    flex-direction: column;
    background-color: #5B5D16;
    border-radius: 15px;
    margin-right: 70px;
    width: 200px;
    align-items: center;
    border: solid;
}
