@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    padding: 0;
    margin: 0;  
    overflow: hidden;
}

.kanan {
    margin-left: auto;
    margin-right: 40px;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    background-color: transparent;
    padding: 0 15px;
    align-items: center;
    height: 80px;
    width: 100%;
}

.gambar {
    object-fit: contain;
}

.navbar a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.navbar a:hover {
    color: black;
}

.search {
    margin-left: 100px;
    display: flex;
    border-radius: 10px;
    padding: 0 15px;
    align-items: center;
    height: 40px;
    background-color: #fff;
}

.search input {
    outline: none;
    border: none;
    width: 20vw;
}

.main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    background-image: url(bahan/dan-meyers-IQVFVH0ajag-unsplash.jpg);
    background-size: cover;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 80px;
    padding-top: 80px;
}
.orang {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding-left: 100px;
    padding-right: 100px;

}

.fewa {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 2px solid grey;
    border-radius: 30px;
    box-shadow: 0 0 5px grey;
    padding: 20px;
    justify-content: center;
    background-color: white;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

h1:last-child {
    font-weight: 400;
}

.sosmed {
    display: flex;
    flex-direction: row;
}

.sosmed img:not(:last-child) {
    margin-right: 50px;
}