.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    border-radius: 0px 0px 30px 30px;
    top: 0;
    background-color: #2D3D13;
    align-self: flex-start;
    height: 80px;
    width: 100%;
}

.gambar {
    object-fit: contain;
}

.tulisankanan {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: white;
}

.tulisanNavbarKanan {
    margin-right: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.tulisanNavbarKanan a{
    color: white;
    border-bottom: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

.kanan {
    margin-left: auto;
}

.search {
    background: transparent;
    margin-left: 17%;
    width: 40%;
    height:80px;
    text-align: center;
    line-height: 80px;

}

.search input {
    padding-left:15px;
    padding-top: 9px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: none;
    width: 300px;
    height: 40px;
}

i.fa.fa-search {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 40px;
    height: 36px;
    line-height: 40px;
    background:white;
    margin-right:100px;
    position: relative;
}

.sosmed {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    color: white;
}

.wa {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.insta {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.fb {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

body{
    background-image: url(bahan/bg/utama.jpg);
}

.container1{
    position: fixed;
    height: auto;
    width: 250px;
    display: inline;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 20pt;
}

.container2{
    height: 100%;
    display: block;
    margin-top: 10%;
    font-size: 26pt;
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    font-weight: bold;
}

.container2 a{
    font-size: 26pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    font-weight: bold;
    color: black;
    text-decoration: none;
    display: block;
}

.tombol input{
    margin-bottom: 20px;
}

.container2-1{
    width: 300px;
    margin-left: 200px;
    margin-bottom: 30px;
    display: inline-block;
    background-color: white;
    text-align: center;
    border: solid gray 5px;
}

.container2-2{
    width: 300px;
    margin-left: 200px;
    margin-bottom: 30px;
    display: inline-block;
    background-color: white;
    text-align: center;
    border: solid gray 5px;
    margin-left: 10%;
}

.container2-3{
    width: 300px;
    margin-left: 200px;
    margin-bottom: 30px;
    display: inline-block;
    background-color: white;
    text-align: center;
    border: solid gray 5px;
}

.container2-4{
    width: 300px;
    margin-left: 200px;
    margin-bottom: 30px;
    display: inline-block;
    background-color: white;
    text-align: center;
    border: solid gray 5px;
    margin-left: 10%;
}

.gambar{
    margin-left: 0px;
    display: inline-block; 
    align-items: center;   
}

.header{
    font-size: 18pt;
}

.tombol {
    margin-top: 10px;
}

.tombol input{
    width: 150px;
    height: 30px;
    font-size: 13pt;
    background-color: chocolate;
    border-radius: 5px;
}