@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    padding: 0;
    margin: 0;  
    font-family: 'Montserrat', sans-serif;
}


.main-container {
    display: flex;
    flex-direction: column;
    background-image: url("bahan/countryside-2326787_1920.jpg") ;
    object-fit: cover;
    background-size: 100vw;
    width: 100vw;
    height: 700px;
    align-items: center;
    justify-content: center;
    color: #fff;
    box-shadow: 0 2px 35px black;
    margin-bottom: 50px;
 
}

.main-container h1, .main-container p {
    font-size: 40px;
    text-shadow: 10px 10px 15px  black;
    font-family: 'Montserrat', sans-serif;

}

.kanan {
    margin-left: auto;
    margin-right: 40px;
}
body {
    padding: 0;
    margin: 0;
}

.main-container a {
    text-decoration: none;
    color:black;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    background-color: transparent;
    padding: 0 15px;
    align-items: center;
    height: 80px;
    width: 100%;
}

.gambar {
    object-fit: contain;
}

.navbar a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.navbar a:hover {
    color: black;
}

.search {
    margin-left: 100px;
    display: flex;
    border-radius: 10px;
    padding: 0 15px;
    align-items: center;
    height: 40px;
    background-color: #fff;
}

.search input {
    outline: none;
    border: none;
    width: 20vw;
}

.left {
    /* padding-right: 1000px;
    padding-left: 100px; */
    width: 400px;
    display: flex;
    flex-direction: row;
    /* align-content: flex-start; */
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 700px;
    /* margin-left: 70px; */
    /* padding: 20px;
    bbox-shadow: 20px 20px 10px #28AA3D */
}

/* .keterangan {
    display: flex;
    flex-direction: row;
} */
/* .isi {
    display: flex;
    justify-content: center;
} */
/* .isi {
    display: flex;
    flex-direction: row;
}

.isi img {
    size: 300px;
} */
.produk1 {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 5px grey;
    width: 20%;

}
.cart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h2 {
    display: flex;
    justify-content: space-around;

}

.produk1 p {
    font-size: 25px;
}