@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    padding: 0;
    margin: 0;  
}

.main-container {
    display: flex;
    flex-direction: column;
    background-image: url("bahan/bg-login.jpg") ;
    object-fit: cover;
    background-size: 100vw;
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
    color: #fff;
    box-shadow: 0 2px 35px black;
    margin-bottom: 50px;
 
}

.main-container h1, .main-container p {
    font-size: 40px;
    text-shadow: 10px 10px 15px  black;
    font-family: 'Montserrat', sans-serif;

}

.kanan {
    margin-left: auto;
    margin-right: 40px;
}


.main-container a {
    text-decoration: none;
    color:black;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    background-color: #28AA3D;
    padding: 0 15px;
    align-items: center;
    height: 80px;
    width: 100%;
}

.gambar {
    object-fit: contain;
}

.navbar a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.navbar a:hover {
    color: black;
}

.search {
    margin-left: 100px;
    display: flex;
    border-radius: 10px;
    padding: 0 15px;
    align-items: center;
    height: 40px;
    background-color: #fff;
}

.search input {
    outline: none;
    border: none;
    width: 20vw;
}

.box {
    width: 90vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: 20px; */
}

.tulisanBox {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.tulisanBawah {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
}

.bestseller {
    display: flex;
    justify-content:space-evenly;

}

.dalamBS {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 5px black;
    border-radius: 30px 30px;
    align-items: center;
    padding-bottom: 15px;
    width: 350px;
    height: 466px;
}

.dalamBS p {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dalam p {
    font-size: 15px;
    margin: 0;
    margin-right: 10px;
}

.dalam {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    height: 50px;
    width: 175px;
    background-color: #28AA3D;
    border-radius: 10px;
}

.bawah {
    margin-top: 100px;
    height: 300px;
    background-color: #28AA3D;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.sosmed {
    display: flex;
    flex-direction: column;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

p#Nama1{
    text-align: center;
}
p#Nama2{
    text-align: center;
}
p#Nama3{
    text-align: center;
}
p#Nama4{
    text-align: center;
}

h1{
    font-size: 5vmin;
    text-align: center;
}

p{
    font-size: 5vmin;
}

.judulh1{
    text-align: center;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 800px){

}