.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    border-radius: 0px 0px 30px 30px;
    top: 0;
    background-color: #2D3D13;
    align-self: flex-start;
    height: 80px;
    width: 100%;
}

.gambar {
    object-fit: contain;
}

.gambar {
    margin-top: 10px;
    object-fit: contain;
}

.search {
    background: transparent;
    margin-left: 17%;
    width: 40%;
    height:80px;
    text-align: center;
    line-height: 80px;

}

.search input {
    padding-left:15px;
    padding-top: 9px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: none;
    width: 300px;
    height: 40px;
}

i.fa.fa-search {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 40px;
    height: 36px;
    line-height: 40px;
    background:white;
    margin-right:100px;
    position: relative;
}


.tulisankanan {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: white;
}

.tulisanNavbarKanan {
    margin-right: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.kanan {
    margin-left: auto;
}

.sosmed {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    color: white;
}

.wa {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.insta {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.fb {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

p {
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    background-image: url(bahan/bg\ utama.jpg);
    object-fit: cover;
    background-position: 0 70%;
    background-size: 100vw;
    width: 100vw;
    height: 100vh;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.putih {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 30px;
    align-items: center;
    width: 900px;
    height: 500px;
}

.produk {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.harga{
    display: flex;
    flex-direction: row;
    color: red;
}

p {
    font-size: 17px;

}

h1 {
    margin-bottom: 20px;
    margin-top: 0;
}

.beliSekarang {
    display: flex;
    flex-direction: row;
    background-color: red;
    width: 200px;
    height: 40px;
}

.beliSekarang p {
    font-size: 25px;
    margin-top: 5px;
}

.beliSekarang a {
    font-size: 25px;
    margin-top: 5px;
    color: white;
    text-decoration: none;
    margin-left: 13px;
}

body {
    margin: 0px;
    padding: 0px;
}

.tulisankanan a {
    text-decoration: none;
    color: white;
}

p a {
    text-decoration: none;
    color: black;
}
