@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.main-container {
    display: flex;
    align-items:center;
    background-image: url("bahan/bg-login.jpg");
    object-fit: contain;
    background-size: 100vw;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.login-container {
    width: 60%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 30px;
    padding: 50px;
}

.pemisah{
    width: 2px;
    height: 350px;
    background-color: black;
}

body{
    margin: 0;
    padding: 0;
}

.login-container h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
}

input {
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 40px;
    font-size: 14pt;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    overflow: hidden ;
}

.container p {
    font-family: 'Montserrat', sans-serif;
}
.container input{
    background: none;
}

.inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#facebook {
    display: flex;
    background-color: #3b5998;
    border-radius: 15px;
    margin-bottom: 50px;
    margin-top: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: space-around;
}

#gmail {
    display: flex;
    background-color: #ea4335;
    border-radius: 15px;
    margin-bottom: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: space-around;
}

#twitter {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-width: 15pt;
    border-color: black;
    color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: space-around;
}

.container a {
    text-decoration: none;
    color:white;
}

.container #twitter a{
    color: cornflowerblue;
} 

div form input[type="submit"] {
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
    height: 30px;

}