body{
    background-image: url(bahan/bg/utama.jpg);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    border-radius: 0px 0px 30px 30px;
    top: 0;
    background-color: #2D3D13;
    align-self: flex-start;
    height: 80px;
    width: 100%;
}

.gambar {
    object-fit: contain;
}

.tulisankanan {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: white;
}

.tulisanNavbarKanan {
    margin-right: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;
    border-bottom: 0;
}

.kanan {
    margin-left: auto;
}

.sosmed {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    color: white;
}

.wa {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.insta {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.fb {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.bigcontainer{
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    height: 200%;
    background-color: rgba(245, 245, 245, 0.774);
}

.container1{
    display: inline-table;
    position: absolute;
    width: 20%;
    height: 100%;
    margin-left: 10%;
    background-color: transparent;
}

.container1 p{
    margin-bottom: 0;
    font-size: 16pt;
}

.container2{
    margin-left: 50%;
    width: 20%;
    height: 100%;
    background-color: transparent;
}
.container2 input{
    display: inline;
    margin-top: 13px;
    margin-bottom: 32px;
    margin-left: 20%;  
    border-radius: 5px; 
    padding: 0pt;
    height: 20px;
    width: 200px;
}

#input_awal{
    height: 20px;
    margin-top: 90px;
}

#input_alamat{
    height: 100px;
}

#text_alamat{
    margin-bottom: 103px;
}

.text_pengiriman{
    margin-top: 16px;
    display: block;
}

.text_pengiriman p{
    display: inline   ;
    color: red;
}

#input_total{
    background-color: green;
}

.container2 p{
    margin-left: 40%;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}

#Bayar  {
    width: 150px;
    height: 45px;
    background-color: rgb(0, 207, 0);
    padding: 0pt;
    border-radius: 15pt;
    font-size: 22pt;
    text-align: center;
    margin-right: 25%;
}